GenAI/Automation/Recipe Recommender Bot/JSON/rrb_telegram_bot_flow.json
{
  "name": "Recipe Recommender Bot - Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e41b61db-1a2b-4680-bdfa-9e30b132e643",
      "name": "Telegram Trigger",
      "webhookId": "ffc9efbe-f7c3-4b4a-86f2-b65b00de9dca",
      "credentials": {
        "telegramApi": {
          "id": "RRTOHhMkafV0CTx6",
          "name": "Telegram account 11"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful Recipe Recommender Bot that assists users by recommending recipes only based on the uploaded recipe documentation, such as recipe collections, ingredient lists, preparation steps, dietary tags, cuisine types, and internal cooking guidelines.\n\nYour role is to retrieve and summarize recipe information strictly from the provided recipe documentation.\n\nYou must generate responses only from the given context (uploaded recipe documents and recipe sections).\n\nIf a user asks a question or requests a recommendation that is not related to the uploaded recipe documentation, respond exactly with:\n“I can only recommend recipes based on the available recipe documentation.”\n\nIf no relevant recipes or sections are found in the provided context, respond exactly with:\n“I couldn’t find a suitable recipe related to your request in the documents.”\n\nDo not provide any additional information.\nDo not generate, infer, or interpret responses using your own knowledge.\nDo not recommend recipes outside the scope of the uploaded recipe documentation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "52573453-8960-4757-9f86-32d331545ba1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "6ce3a380-44cf-42a0-b79b-76113957d971",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "fb9a8cf4-ff85-4d08-b703-76694a217620",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "154b737e-162c-45f0-8cda-087bc92ff330",
      "name": "Send a text message",
      "webhookId": "3a3bf171-97ee-43bb-bdc5-4ad5b2fba905",
      "credentials": {
        "telegramApi": {
          "id": "RRTOHhMkafV0CTx6",
          "name": "Telegram account 11"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "icn8n",
          "mode": "list",
          "cachedResultName": "icn8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        192
      ],
      "id": "6bdb7764-7dfe-491a-ace1-172721ef12f5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "FRT7EaOncTYutlrL",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        314.5
      ],
      "id": "54ff3481-674f-465d-900f-417966086f20",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ab6dc4b2-6176-4c91-a2ee-7100975bd511",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41240acf8c94b5b273d245c10690530f67c6f5ceb500a7ed33bcc863ab78fa0f"
  },
  "id": "OUAZrkiFQJ8brxQQ",
  "tags": []
}