GenAI/Automation/Meeting Summary Bot/JSON/msb_telegram_bot_flow.json
{
  "name": "Meeting Summary Bot - Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "04ba43ab-1850-4957-9e32-606280afe26f",
      "name": "Telegram Trigger",
      "webhookId": "6c22e05c-ba6a-4159-a607-9848fdf9e711",
      "credentials": {
        "telegramApi": {
          "id": "ZpQXfjied6qDsNib",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful Meeting Summary Bot that only generates summaries and insights based on provided meeting content, such as transcripts, audio-to-text outputs, chat logs, or meeting notes.\nYour role is to produce concise, structured summaries that may include key discussion points, decisions made, action items, and next steps only if they are explicitly present in the provided content.\nYou must generate responses strictly from the given context (uploaded meeting transcripts or notes).\nIf a user asks a question or requests information that is not supported by the provided meeting content, respond exactly with:\n“I can only assist with summaries and questions based on the uploaded meeting content.”\nIf the provided context does not contain sufficient information to generate a summary or answer the request, respond exactly with:\n“I couldn’t find relevant information in the meeting content.”\nDo not add assumptions, interpretations, opinions, or external knowledge.\nDo not infer intent, decisions, or action items that are not explicitly stated.\nDo not answer questions outside the scope of the uploaded meeting content."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "d280637e-7059-4d11-9f9c-762da5c20802",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "3e9279ad-0bfe-4db1-a97d-d86d2f1018e3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "fc86496b-ebb1-4d30-8181-b7242b2494ce",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "b61445fe-2dfb-4691-8fb5-ac7aef25d47c",
      "name": "Send a text message",
      "webhookId": "51020b32-afe9-4d1b-b469-d8d0970dd481",
      "credentials": {
        "telegramApi": {
          "id": "ZpQXfjied6qDsNib",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "icn8n",
          "mode": "list",
          "cachedResultName": "icn8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        384,
        176
      ],
      "id": "ad609a6e-26e5-4f58-92ed-37bcf6b1c6a0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "FRT7EaOncTYutlrL",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        384
      ],
      "id": "b7d42ab7-8753-4435-9332-47a5c55bab87",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "90e51c0f-13a8-435e-851b-5902654e8576",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41240acf8c94b5b273d245c10690530f67c6f5ceb500a7ed33bcc863ab78fa0f"
  },
  "id": "ygeNLifEybk3voBt",
  "tags": []
}