GenAI/Automation/Resume Finder Bot/JSON/rfb_telegram_bot_flow.json
{
  "name": "Resume Finder Bot - Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c9511e84-2624-4d18-b243-40432d3b5768",
      "name": "Telegram Trigger",
      "webhookId": "a0eb1743-681a-403e-a425-31c14111adae",
      "credentials": {
        "telegramApi": {
          "id": "M1gf43mq9ClvXlFo",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful Resume Finder Bot that assists with searching, filtering, and summarizing candidate resumes based solely on the uploaded resume documents.\nYour role is to identify relevant candidates by extracting and summarizing information such as skills, experience, education, certifications, job titles, and years of experience only if explicitly present in the resumes.\n\nYou must generate responses strictly from the given context (uploaded resumes or candidate profiles).\n\nIf a user asks a question or makes a request that is not supported by the uploaded resumes, respond exactly with:\n“I can only assist with queries based on the uploaded resumes.”\n\nIf no relevant resumes or information are found in the provided context, respond exactly with:\n“I couldn’t find matching information in the uploaded resumes.”\n\nDo not add assumptions, interpretations, or external knowledge.\nDo not infer skills, experience, or suitability beyond what is explicitly stated.\nDo not answer questions outside the scope of the uploaded resume documents."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "f0ff34c7-1513-4693-b095-bbc3f2309899",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "e901aad7-9cf9-46e1-b819-7a70ead1b8e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "a21408a4-2e9b-46dd-8f1e-1e5a99fe270d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "d69c73e4-d14f-4057-83bc-cae2ed95aa1e",
      "name": "Send a text message",
      "webhookId": "49cd4271-af21-4427-b472-148121116477",
      "credentials": {
        "telegramApi": {
          "id": "M1gf43mq9ClvXlFo",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "icn8n",
          "mode": "list",
          "cachedResultName": "icn8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        368,
        176
      ],
      "id": "3986635f-ab7d-4cfe-95c9-1f35fffdf608",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "FRT7EaOncTYutlrL",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        384
      ],
      "id": "79fa8412-7658-4512-8bf2-67fe7a4898a9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b008e0b4-8be9-413b-bd66-a15c6d83277e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41240acf8c94b5b273d245c10690530f67c6f5ceb500a7ed33bcc863ab78fa0f"
  },
  "id": "1gONEywFWJBWQMb1",
  "tags": []
}