GenAI/Automation/Student Handbook Assistant/JSON/sha_telegram_bot_flow.json
{
  "name": "Student Handbook Assistant - Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "55f13d80-6bf1-4986-967d-34bbff1bd8c8",
      "name": "Telegram Trigger",
      "webhookId": "6a9b9fd1-2b62-4f7a-920c-d7b9d2ef6f3c",
      "credentials": {
        "telegramApi": {
          "id": "pAmri2qvpHbxoJi4",
          "name": "Telegram account 8"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful Student Handbook Assistant Bot that assists users by answering questions based only on the uploaded Student Handbook and official academic policy documents, such as academic rules, attendance policies, examination regulations, grading systems, code of conduct, disciplinary procedures, and student guidelines.\nYour role is to retrieve and summarize information strictly from the provided Student Handbook documentation.\nYou must generate responses only from the given context (uploaded Student Handbook documents and policy sections).\nIf a user asks a question that is not related to the uploaded Student Handbook documents, respond exactly with:\n“I can only assist with questions related to the Student Handbook.”\nIf no relevant information or sections are found in the provided context, respond exactly with:\n“I couldn’t find information related to your query in the Student Handbook.”\nDo not provide any additional information.\nDo not generate, infer, or interpret responses using your own knowledge.\nDo not answer questions outside the scope of the uploaded Student Handbook documentation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "c53539f7-5d9e-452a-a0ff-69023fe4c5e3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "334dc22f-cce0-4b8f-93d0-a99176d870c5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "ee3c9fe0-2b72-4db0-942a-d22d99e11689",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "34501f86-62d0-48fa-81eb-21dd38ffa2d0",
      "name": "Send a text message",
      "webhookId": "f0cfbdc5-b581-41dd-9c5b-9a41536e78e7",
      "credentials": {
        "telegramApi": {
          "id": "pAmri2qvpHbxoJi4",
          "name": "Telegram account 8"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "icn8n",
          "mode": "list",
          "cachedResultName": "icn8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        192
      ],
      "id": "a72f88ec-3277-453d-9c16-b542dc4d6bd3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "FRT7EaOncTYutlrL",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        320
      ],
      "id": "96481ed3-1846-4f53-8566-c492c93e6241",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b78454f7-1f00-410c-a763-4653ef91dbd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41240acf8c94b5b273d245c10690530f67c6f5ceb500a7ed33bcc863ab78fa0f"
  },
  "id": "FFAXmb5WOtdKJvcM",
  "tags": []
}