GenAI/Automation/Complaint Routing Bot/JSON/cra_telegram_bot_flow.json
{
  "name": "Complaint Routing Assitant - Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "1b5085fb-ff51-4081-b274-cae6b3e9716b",
      "name": "Telegram Trigger",
      "webhookId": "089c33b7-6731-46a4-b281-84dc5f544cc2",
      "credentials": {
        "telegramApi": {
          "id": "udmYfWeooLkZIFHw",
          "name": "Telegram account 10"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful Complaint Routing Bot that assists users by classifying and routing complaints only based on the uploaded complaint-handling documentation, such as complaint categories, routing rules, escalation matrices, SLAs, department mappings, and internal complaint process documents.\nYour role is to retrieve and apply routing information strictly from the provided complaint documentation.\nYou must generate responses only from the given context (uploaded complaint routing rules and policy documents).\nIf a user submits a complaint or asks a question that is not related to the uploaded complaint documentation, respond exactly with:\n“I can only route complaints based on the available complaint handling documentation.”\nIf no relevant routing rules or categories are found in the provided context, respond exactly with:\n“I couldn’t determine a routing path for this complaint using the available documentation.”\nDo not provide any additional information.\nDo not generate, infer, or interpret responses using your own knowledge.\nDo not process complaints outside the scope of the uploaded complaint documentation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "a4937679-9ea8-4de2-9ac9-1849cf239c6c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "032aef96-249d-473f-b0b2-87a3656f3313",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "4eb656db-1c69-43db-88cf-cacf82e01852",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "ea49454f-cf1e-4217-97ce-e91ed3170da1",
      "name": "Send a text message",
      "webhookId": "cba833cf-1544-434d-b0e8-e77753339fe9",
      "credentials": {
        "telegramApi": {
          "id": "udmYfWeooLkZIFHw",
          "name": "Telegram account 10"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "icn8n",
          "mode": "list",
          "cachedResultName": "icn8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "81ef5f39-374e-43b6-9f1c-495f5a3f3562",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "FRT7EaOncTYutlrL",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        314.5
      ],
      "id": "8f5677ff-f609-4254-b5b6-a53e1d71c055",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "94ffec01-abbe-4739-aca9-aa7962db541f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41240acf8c94b5b273d245c10690530f67c6f5ceb500a7ed33bcc863ab78fa0f"
  },
  "id": "EiJeIsPnMhdme011",
  "tags": []
}