GenAI/Automation/Syllabus Advisor Bot/sab_telegram_bot_flow.json.json
{
  "name": "Syllabus Advisor Bot - Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -176
      ],
      "id": "d37ba033-4b86-4864-88d4-ee3008f508eb",
      "name": "Telegram Trigger",
      "webhookId": "bd4a0d77-07af-492c-a9e9-5c33210c85de",
      "credentials": {
        "telegramApi": {
          "id": "Td9KNQX4f2yn1jZe",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful Syllabus Advisor Bot who only answers questions related to syllabus content, curriculum structure, course topics, learning objectives, and academic outlines.\nYou must generate and summarize answers only from the given context (uploaded syllabus documents or course materials).\n\nIf a user asks an off-topic question, respond exactly with:\n“I can only assist with questions related to the uploaded documents.”\n\nIf no relevant information or chunks are found in the provided context, respond exactly with:\n“I couldn’t find information related to your query in the documents.”\n\nDo not provide any additional information.\nDo not generate, infer, or interpret responses using your own knowledge.\nDo not answer questions outside the scope of the uploaded syllabus or curriculum documents."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -96,
        -176
      ],
      "id": "cd783e1c-9786-419b-a4a5-63296b9f5231",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        48
      ],
      "id": "82a3d851-8b50-4e08-994a-684ccefb8d0e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        48
      ],
      "id": "cb39a10b-cfcb-456e-a1c0-96c99851e8fb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -176
      ],
      "id": "f18f1aaa-21be-4f8b-8097-deaadf406952",
      "name": "Send a text message",
      "webhookId": "b0fb9cb4-bdf5-41e6-b699-3a995afc6eea",
      "credentials": {
        "telegramApi": {
          "id": "Td9KNQX4f2yn1jZe",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "icn8n",
          "mode": "list",
          "cachedResultName": "icn8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        48,
        64
      ],
      "id": "c3a52be9-632a-472e-9e2a-ed59669ba33f",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "FRT7EaOncTYutlrL",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        192
      ],
      "id": "fce324e7-0a2c-43ef-8f0f-415010c79879",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "wvP76PKNgnnku53g",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "118f55ab-654d-4122-82aa-e1d0b9f9bd78",
  "meta": {
    "instanceId": "41240acf8c94b5b273d245c10690530f67c6f5ceb500a7ed33bcc863ab78fa0f"
  },
  "id": "NXVxqZl9gKKFdqIE",
  "tags": []
}